@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* theme colours */
@theme {
  --color-primary: #C27AFF;
  --color-secondary: #FB64B6;
  --color-dark: #030712;
  --color-light: #0A101D;
  --color-lighter: #101828;
  --color-success: #05DF72;
  --color-error: #FF6467;
  --color-heading: white;
  --color-body: #99A1AF;
  --font-sans: 'Inter', sans-serif;
}

/* typography */
body {
 @apply font-sans text-body bg-dark;
}
h1, h2, h3, h4 {
  @apply text-heading;
}

/* generic layout styles */
.public {
  h1 {
    @apply text-4xl;
  }
}
svg.logo {
  display: inline-block;
}

/* generic page styles */
.page-content {
  @apply my-4 mx-auto w-6xl min-w-2xl max-w-full;
}
.center-content {
  @apply flex flex-col justify-center text-justify min-h-lvh;
}
.form-title {
  @apply text-center text-xl font-bold;
}